testing/nim/wip2/menu_input.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:complexType name="MenuItem">
  <xs:attribute name="value" type="xs:string"/>
  <xs:attribute name="onclick" type="xs:string"/>
</xs:complexType>

<xs:complexType name="Popup">
  <xs:sequence>
    <xs:element name="menuitem" type="MenuItem" maxOccurs="unbounded"/>
  </xs:sequence>
</xs:complexType>


<xs:element name="menu">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="popup" type="Popup"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
    <xs:attribute name="value" type="xs:string"/>
  </xs:complexType>
</xs:element>



</xs:schema>
